@model IEnumerable<ShopTARge24.Models.Kindergartens.KindergartenIndexViewModel>

@{
    int rowNumber = 1;
}

<div>
    <a asp-action="create" asp-controller="Kindergartens" type="submit" class="btn btn-primary" id="CreateButtonAction">Create</a>
</div>

<div class="h1">
    Kindergartens
</div>
<form method="get">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">GroupName</th>
                <th scope="col">ChildrenCount</th>
                <th scope="col">KindergartenName</th>
                <th scope="col">TeacherName</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kindergarten in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td id="testIdGrouN_I">@kindergarten.GroupName</td>
                    <td id="testChildrenC_I">@kindergarten.ChildrenCount</td>
                    <td id="testKindergartenN_I">@kindergarten.KindergartenName</td>
                    <td id="testTeacherN_I">@kindergarten.TeacherName</td>
                    <td>
                        <a asp-action="details" asp-controller="kindergartens" asp-route-id="@kindergarten.Id" class="btn btn-primary" id="DetailsButtonAction">Details</a>
                        <a asp-action="update" asp-controller="kindergartens" asp-route-id="@kindergarten.Id" class="btn btn-primary" id="UpdateButtonAction">Update</a>
                        <a asp-action="delete" asp-controller="kindergartens" asp-route-id="@kindergarten.Id" class="btn btn-outline-danger" id="DeleteButtonAction">Delete</a>
                    </td>
                </tr>
                rowNumber += 1;
            }
        </tbody>
    </table>
</form>

